/vendor/

/composer.phar
/composer.lock

/.phpunit.result.cache
tests/Application/tmp

src/Bundle/test/vendor/
src/Bundle/test/composer.lock

tests/Application/config/db.sql
tests/Application/config/reference.php
