includes:
    - phpstan-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    level: max

    paths:
        - src

    excludePaths:
        - src/Bundle/Doctrine/PHPCRODM/*
        - src/Bundle/Resources/*
        - src/Bundle/spec/*
        - src/Bundle/Tests/*
        - src/Component/Tests/*
        - src/Component/vendor/*

        # Legacy code maintained for backward compatibility
        # Contains deprecated interfaces and implementations that will be removed in 2.0
        - 'src/Bundle/Builder/Action/ActionInterface.php'
        - 'src/Bundle/Builder/ActionGroup/ActionGroup.php'
        - 'src/Bundle/Builder/ActionGroup/ActionGroupInterface.php'
        - 'src/Bundle/Builder/Field/FieldInterface.php'
        - 'src/Bundle/Builder/Filter/FilterInterface.php'
        - 'src/Bundle/Builder/GridBuilder.php'
        - 'src/Bundle/Builder/GridBuilderInterface.php'

    ignoreErrors:
        # Symfony <7.4
        - message: '#^PHPDoc tag .+ is not generic\.$#'
          identifier: generics.notGeneric
          count: 9
          path: src/Bundle/DependencyInjection/Configuration.php
        # Symfony >=7.4
        - message: '#^Call to method .+\.$#'
          identifier: class.notFound
          count: 3
          path: src/Bundle/DependencyInjection/Configuration.php
        - message: '#^Cannot call method [^\(]+\(\) on mixed\.$#'
          identifier: method.nonObject
          count: 166
          path: src/Bundle/DependencyInjection/Configuration.php
        # Symfony Dependency Injection Reflector
        - message: '#^Parameter \#2 \$configurator of method Symfony\\Component\\DependencyInjection\\ContainerBuilder\:\:registerAttributeForAutoconfiguration\(\)#'
          identifier: argument.type
          count: 4
          path: src/Bundle/DependencyInjection/SyliusGridExtension.php
        # Symfony 8 without Doctrine PHPCR-ODM
        - message: '#^Method Sylius\\Bundle\\GridBundle\\Doctrine\\DataSourceInterface\:\:getQueryBuilder\(\) has invalid return type Doctrine\\ODM\\PHPCR\\Query\\Builder\\QueryBuilder\.$#'
          identifier: class.notFound
          count: 1
          path: src/Bundle/Doctrine/DataSourceInterface.php
