includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
        - %currentWorkingDirectory%/src/Bundle/Doctrine/PHPCRODM/*
        - %currentWorkingDirectory%/src/Bundle/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/src/Bundle/spec/*
        - %currentWorkingDirectory%/src/Bundle/test/*
        - %currentWorkingDirectory%/src/Bundle/Tests/*
        - %currentWorkingDirectory%/src/Component/spec/*
        - %currentWorkingDirectory%/src/Component/vendor/*

    ignoreErrors:
        # Symfony 3.4 compatibility
        - '/Call to function method_exists\(\) with .Symfony\\\\Component…. and .getRootNode. will always evaluate to false/'
        - '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::getRootNode\(\)/'
        - '/Class Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder does not have a constructor and must be instantiated without any parameters/'
        - '/Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\./'
        - '/Parameter \#1 \$event of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) expects object, string given\./'
