includes:
    - phpstan-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    level: max

    paths:
        - src

    excludePaths:
        - src/Bundle/Config/GridConfigInterface.php
        - src/Bundle/Doctrine/PHPCRODM/*
        - src/Bundle/Doctrine/ORM/ExpressionBuilder.php
        - src/Bundle/Form/DataTransformer/DateTimeFilterTransformer.php
        - src/Bundle/Maker/MakeGrid.php
        - src/Bundle/Registry/GridRegistry.php
        - src/Bundle/Renderer/TwigGridRenderer.php
        - src/Bundle/Resources/*
        - src/Bundle/spec/*
        - src/Bundle/Tests/*
        - src/Component/DataExtractor/PropertyAccessDataExtractor.php
        - src/Component/Definition/Filter.php
        - src/Component/Filter/DateFilter.php
        - src/Component/Filter/MoneyFilter.php
        - src/Component/Filter/NumericRangeFilter.php
        - src/Component/Filter/StringFilter.php
        - src/Component/Filtering/FiltersCriteriaResolver.php
        - src/Component/Sorting/Sorter.php
        - src/Component/View/GridView.php
        - src/Component/spec/*
        - src/Component/Tests/*
        - src/Component/vendor/*

    ignoreErrors:
        - '/Cannot cast mixed to int./'
        - '/Cannot cast mixed to string./'
        - '/Class Sylius\\Bundle\\CurrencyBundle\\Form\\Type\\CurrencyChoiceType not found\./'
        - '/Unable to resolve the template type T in call to method Doctrine\\Persistence\\ObjectManager::getRepository\(\)/'
        # Symfony 7.4
        - message: '#^Call to method .+\.$#'
          identifier: class.notFound
          count: 3
          path: src/Bundle/DependencyInjection/Configuration.php
        - message: '#^Cannot call method [^\(]+\(\) on mixed\.$#'
          identifier: method.nonObject
          count: 166
          path: src/Bundle/DependencyInjection/Configuration.php
