suites:
    Bundle:
        namespace: Sylius\Bundle\GridBundle
        psr4_prefix: Sylius\Bundle\GridBundle
        src_path: src/Bundle
        spec_path: src/Bundle
    Component:
        namespace: Sylius\Component\Grid
        psr4_prefix: Sylius\Component\Grid
        src_path: src/Component
        spec_path: src/Component

extensions:
    Akeneo\SkipExampleExtension: ~
