parameters:
	ignoreErrors:
		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Bundle/Builder/GridBuilder.php

		-
			message: '#^Method Sylius\\Bundle\\GridBundle\\Command\\DebugGridCommand\:\:__construct\(\) has parameter \$taggedGrids with generic interface Symfony\\Contracts\\Service\\ServiceProviderInterface but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Bundle/Command/DebugGridCommand.php

		-
			message: '#^Cannot access offset ''alias'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Bundle/DependencyInjection/Compiler/RegisterDriversPass.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Bundle/DependencyInjection/Compiler/RegisterFieldTypesPass.php

		-
			message: '#^Cannot access offset ''action'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Bundle/DependencyInjection/SyliusGridExtension.php

		-
			message: '#^Cannot access offset ''bulk_action'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Bundle/DependencyInjection/SyliusGridExtension.php

		-
			message: '#^Cannot access offset ''filter'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Bundle/DependencyInjection/SyliusGridExtension.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Bundle/Doctrine/DBAL/Driver.php

		-
			message: '#^Cannot access offset ''arguments'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Bundle/Doctrine/ORM/Driver.php

		-
			message: '#^Cannot access offset ''fetch_join_collection'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Bundle/Doctrine/ORM/Driver.php

		-
			message: '#^Cannot access offset ''method'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Bundle/Doctrine/ORM/Driver.php

		-
			message: '#^Cannot access offset ''use_output_walkers'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Bundle/Doctrine/ORM/Driver.php

		-
			message: '#^Property Sylius\\Bundle\\GridBundle\\Form\\Registry\\FormTypeRegistry\:\:\$formTypes \(array\<string, array\<string, class\-string\>\>\) does not accept array\<string, array\<string, string\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Bundle/Form/Registry/FormTypeRegistry.php

		-
			message: '#^Class Sylius\\Bundle\\CurrencyBundle\\Form\\Type\\CurrencyChoiceType not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Bundle/Form/Type/Filter/MoneyFilterType.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Component/Configuration/GridConfigurationRemovalsHandler.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Component/Configuration/GridConfigurationSortingHandler.php

		-
			message: '#^Cannot access offset ''sortable'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Component/Configuration/GridConfigurationSortingHandler.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/Component/Configuration/GridConfigurationSortingHandler.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/Component/Configuration/GridConfigurationSortingHandler.php

		-
			message: '#^Parameter \#1 \$objectOrArray of method Symfony\\Component\\PropertyAccess\\PropertyAccessorInterface\:\:getValue\(\) expects array\|object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/DataExtractor/PropertyAccessDataExtractor.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 3
			path: src/Component/Definition/ArrayToDefinitionConverter.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Component/Definition/ArrayToDefinitionConverter.php

		-
			message: '#^Cannot access offset ''options'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Component/Definition/ArrayToDefinitionConverter.php

		-
			message: '#^Method Sylius\\Component\\Grid\\Definition\\Filter\:\:setCriteria\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Component/Definition/Filter.php

		-
			message: '#^Method Sylius\\Component\\Grid\\FieldTypes\\CallableFieldType\:\:getCallable\(\) should return callable\(\)\: mixed but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Component/FieldTypes/CallableFieldType.php

		-
			message: '#^Cannot access offset ''currency'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Component/Filter/MoneyFilter.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Component/Filter/MoneyFilter.php
