parameters:
	ignoreErrors:
		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Bundle/Builder/GridBuilder.php

		-
			message: '#^Class Sylius\\Bundle\\CurrencyBundle\\Form\\Type\\CurrencyChoiceType not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Bundle/Form/Type/Filter/MoneyFilterType.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/Component/Configuration/GridConfigurationSortingHandler.php

		-
			message: '#^Method Sylius\\Component\\Grid\\Definition\\Filter\:\:setCriteria\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Component/Definition/Filter.php

		-
			message: '#^Method Sylius\\Component\\Grid\\FieldTypes\\CallableFieldType\:\:getCallable\(\) should return callable\(\)\: mixed but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Component/FieldTypes/CallableFieldType.php

		-
			message: '#^Cannot access offset ''currency'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Component/Filter/MoneyFilter.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Component/Filter/MoneyFilter.php
