<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
         colors="true"
>
    <php>
        <server name="KERNEL_CLASS" value="App\Kernel" />

        <ini name="error_reporting" value="-1" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test_grids_with_php_config"/>
        <env name="SHELL_VERBOSITY" value="-1" />
        <!-- ###- symfony/framework-bundle ### -->

        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
        <server name="ESCAPE_JSON" value="true" />
    </php>

    <testsuites>
        <testsuite name="SyliusGridBundle Test Suite">
            <directory>./tests/</directory>
            <directory>./src/Bundle/Tests/</directory>
            <directory>./src/Component/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
